	<span class="w3-left">
  		<a href="#" class="w3-bar-item w3-button ">Rebate Center</a>
  		<a href="#" class="w3-bar-item w3-button " style="display:none">Order Tracker</a>
        <a href="#" class="w3-bar-item w3-button "><i class="fa fa-newspaper-o"></i>Weekly Ad</a>        
    </span>
    <span class="w3-right">
		<a href="#about" class="w3-bar-item w3-button w3-hide"><i class="fa fa-gift"></i>Gift Registry</a>
		<a href="shoppingcart.html" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i>&nbsp;<span id="cartcounter"></span></a>
		<div class="w3-dropdown-hover w3-right w3-hide-small">
      		<a href="#menu" class="w3-bar-item w3-button"><i class="fa fa-gear">
      		    </i>Welcome, Sign In <i class="fa fa-caret-down"></i>
      		</a>
            <div class="w3-dropdown-content w3-white w3-card-4">
              <p><a href="#" class="w3-button">My Account</a></p>
              <p><a href="#" class="w3-button">View Orders</a></p>
              <p><a href="#" class="w3-button">Lookup Receipts</a></p>
              <p><a href="#" class="w3-button">My Profile</a></p>
              <p><button>Sign In</button></p>
    		</div>                
        </div>     
    </span>